/*
* CSS Create by Zhao Shijun on 2018/06/07
*/

body,
html {
	position: relative;
	width: 100%;
	height: 100%;
}

p {
	margin: 0;
}

i {
	font-size: 18px !important;
}

a {
	color: white;
}

a:hover {
	text-decoration: none;
}

input::-webkit-input-placeholder {
	color: #fff;
}

input::-moz-placeholder {
	/* Mozilla Firefox 19+ */
	color: #fff;
}

input:-moz-placeholder {
	/* Mozilla Firefox 4 to 18 */
	color: #fff;
}

input:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: #fff;
}

input:focus,
button:focus {
	outline: none;
}


/*---- 通用样式 ----*/

.wrapper-top {
	background-color: #2f2f2f;
	color: white;
	height: 50px;
}

.gray-body {
	background-color: #f2f2f2;
}


/*---- 指纹识别 开始----*/

.fingerprint {
	background-color: #5b9fe6;
}

.fingerprint-main {
	color: white;
	text-align: center;
}

.fingerprint-title {
	margin-top: 60px;
}

.fingerprint-title h2 {
	font-size: 24px;
	font-weight: 300;
}

.fingerprint-info {
	margin-top: 20px;
}

.fingerprint-icon img {
	margin-top: 20px;
	margin-bottom: 60px;
	width: 70%;
}

.fingerprint-main a {
	font-size: 18px;
	letter-spacing: 2px;
}


/*---- 指纹识别 结束----*/


/*---- 账号绑定 开始 ----*/

.account-bg {
	background: url(../img/account-bg.png) no-repeat;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	position: absolute;
}

.account-title {
	margin: 100px 0;
}

.account-title img {
	width: 100%;
}

.account-input,
.account-button {
	border-radius: 50px;
	margin-bottom: 20px;
	width: 100%;
	height: 50px;
}

.account-input {
	background-color: #42a4ef;
}

.account-button {
	background-color: #e2e3e7;
	border-bottom: 5px solid #cfcfd1;
	margin-top: 40px;
}

.account-input-img {
	text-align: end;
}

.account-input-img img {
	height: 30px;
}

.account-input input {
	border: none;
	background-color: transparent;
	color: #fff;
	font-size: 18px;
	width: 100%;
	height: 40px;
	line-height: 40px;
}

.account-button button {
	background-color: transparent;
	border: none;
	color: #666;
	font-size: 24px;
	width: 100%;
	height: 100%;
	outline: none;
}


/*---- 账号绑定 结束 ----*/


/*---- 会议列表 开始 ----*/

.meeting-choose {
	background-color: #FFFFFF;
	border-bottom: 1px solid #ddd;
	font-size: 18px;
	height: 50px;
}

.meeting-choose .col-3 {
	text-align: end;
}

.meeting-choose input {
	border: none;
	color: #999;
}

.meeting-choose .icon-date {
	font-size: 24px !important;
	color: #0062CC;
}

.meeting-room-use {
	margin-top: 20px;
	padding-left: 0;
	padding-right: 0;
}

.meeting-room-use .room-use-title {
	display: flex;
	align-items: center;
	background-color: #0062CC;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	color: #fff;
	font-size: 18px;
	width: 100%;
	height: 50px;
	margin-bottom: 0;
	padding-left: 20px;
}

.meeting-room-use .use-record {
	background-color: #FFFFFF;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	box-shadow: 0 1px 5px rgba(0,0,0,0.2);
	height: 245px;
	width: 100%;
	padding-left: 0;
	padding-right: 0;
	margin: 0;
}

.meeting-room-use .record-time {
	border: 1px solid #ddd;
	height: 50px;
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: center;
}

.quarter-hour {
	display: inline-block;
	height: 24px;
	padding-left: 0;
	padding-right: 0;
}

.record-time .quarter-hour {
	margin-left: 2px;
}

.record-time .quarter-hour:first-child {
	margin-left: 0;
}

.room-useable {
	background-color: #28A745;
}

.room-used {
	background-color: #DC3545;
}


/*---- 会议列表 结束 ----*/