/*
* CSS Create by Zhao Shijun on 2018/06/07
*/

body,
html {
	position: relative;
	width: 100%;
	height: 100%;
}

p {
	margin: 0;
}

i {
	font-size: 18px !important;
}

a {
	color: white;
}

a:hover {
	color: white;
	text-decoration: none;
}

input::-webkit-input-placeholder {
	color: #666;
	font-size: 14px;
}

input::-moz-placeholder {
	/* Mozilla Firefox 19+ */
	color: #666;
}

input:-moz-placeholder {
	/* Mozilla Firefox 4 to 18 */
	color: #666;
}

input:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: #666;
}

input:focus,
button:focus {
	outline: none;
}


/*---- 通用样式 ----*/

.wrapper-top {
	background-color: #2f2f2f;
	color: white;
	height: 50px;
}

.gray-body {
	background-color: #f0f0f0;
}

.black-bg {
	background-color: #000000;
}

.top-close-icon {
	text-align: end;
}

.top-title {
	padding-left: 0;
}

.bg-white {
	background-color: white;
}

.absolute {
	position: absolute;
}

.relative {
	position: relative;
}

.display-none {
	display: none;
}


/*---- 指纹识别 开始----*/

.fingerprint {
	background-color: #5b9fe6;
}

.fingerprint-main {
	color: white;
	text-align: center;
}

.fingerprint-title {
	margin-top: 60px;
}

.fingerprint-title h2 {
	font-size: 24px;
	font-weight: 300;
}

.fingerprint-info {
	margin-top: 20px;
}

.fingerprint-icon img {
	margin-top: 20px;
	margin-bottom: 60px;
	width: 70%;
}

.fingerprint-main a {
	font-size: 18px;
	letter-spacing: 2px;
}


/*---- 指纹识别 结束----*/


/*---- 账号绑定 开始 ----*/

.account {
	background-color: #e8f5fe;
}

.account-title {
	padding: 0;
	margin-bottom: 10px;
}

.account-title img {
	width: 100%;
}

.account-input,
.account-button {
	border-radius: 50px;
	margin-bottom: 20px;
	width: 100%;
	height: 40px;
}

.account-input {
	border: 1px solid #158ee9;
	background-color: transparent;
}

.account-button {
	background-color: #158ee9;
	/*border-bottom: 5px solid #cfcfd1;*/
	margin-top: 40px;
}

.account-input-img {
	text-align: center;
	padding: 0;
}

.account-input-img img {
	height: 18px;
}

.account-input-text {
	padding: 0;
}

.account-input input {
	border: none;
	background-color: transparent;
	color: #666;
	font-size: 14px;
	width: 100%;
	height: 30px;
	line-height: 30px;
}

.account-button button {
	background-color: transparent;
	border: none;
	color: #fff;
	font-size: 16px;
	width: 100%;
	height: 100%;
	letter-spacing: 14px;
	outline: none;
}


/*---- 账号绑定 结束 ----*/


/*---- 会议列表 开始 ----*/

.meeting-choose {
	background-color: #FFFFFF;
	border-bottom: 1px solid #ddd;
	font-size: 18px;
	height: 50px;
}

.meeting-choose .col-3 {
	text-align: end;
}

.meeting-choose input {
	border: none;
	color: #666;
	font-size: 14px;
	padding: 0;
}

.dw-i {
	font-size: 14px;
}

.meeting-choose p {
	font-size: 16px;
}

.meeting-choose-title,
.meeting-choose-input {
	text-align: end;
	padding-right: 10px;
}

.meeting-choose-input {
	padding-left: 15px;
	text-align: start;
}

.meeting-choose .icon-date {
	font-size: 24px !important;
	color: #0062CC;
}

.meeting-room-use {
	margin-top: 20px;
	padding-left: 0;
	padding-right: 0;
}

.meeting-room-use .room-use-title {
	display: flex;
	align-items: center;
	background-color: #0062CC;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	color: #fff;
	font-size: 18px;
	width: 100%;
	height: 50px;
	margin-bottom: 0;
	padding-left: 20px;
}

.meeting-room-use .use-record {
	background-color: #FFFFFF;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
	height: 125px;
	width: 100%;
	padding-left: 0;
	padding-right: 0;
	margin: 0;
}

.meeting-room-use .record-time {
	border: 1px solid #ddd;
	height: 50px;
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: center;
}

.record-time time {
	font-size: 8px;
}

.quarter-hour {
	display: inline-block;
	height: 24px;
	padding-left: 0;
	padding-right: 0;
}

.record-time .quarter-hour {
	margin-left: 2px;
}

.record-time .quarter-hour:first-child {
	margin-left: 0;
}

.room-useable {
	background-color: #28A745;
}

.room-used {
	background-color: #DC3545;
}

.col-record {
	flex: 0 0 14.28571428571429%;
	max-width: 14.28571428571429%;
}

.col-record .row {
	margin-left: 0;
	margin-right: 0;
}


/*---- 会议列表 结束 ----*/


/*---- 预定的会议室 开始 ----*/

.reservation-tabs {
	background-color: #fff;
	border-bottom: 1px solid #ddd;
	height: 35px;
	text-align: center;
	padding: 0 10px;
	margin-top: 5px;
}

.reservation-tabs a {
	width: 50%;
	background-color: #74bbf3;
	padding: 3px 0;
	font-size: 14px;
}

.reservation-tabs a:first-child {
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}

.reservation-tabs a:last-child {
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}

.reservation-tabs-active {
	background-color: #158ee9 !important;
}


/*我预订的会议室*/

.mine-reservation {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	height: 180px;
	margin-top: 20px;
}

.mine-reservation hr {
	margin: 5px 0;
}

.mine-reservation-title,
.mine-reservation-place {
	padding-left: 0;
	padding-right: 0;
}

.mine-reservation-title p {
	margin-left: 20px;
	margin-top: 10px;
	font-size: 18px;
}

.mine-reservation-title p i {
	background-color: #0062CC;
	display: inline-block;
	width: 3px;
	height: 16px;
	margin-right: 12px;
}

.mine-reservation-place {
	background: url(../img/reservation-place-bg.png) no-repeat;
	background-size: 100% 100%;
	margin-top: 6px;
	text-align: center;
}

.mine-reservation-place span {
	color: #fff;
	font-size: 14px;
}

.staff-list {
	color: #666;
	font-size: 14px;
	height: 84px;
	padding: 0 15px;
}

.reservation-info {
	color: #666;
	height: 32px;
	padding-left: 15px;
	padding-right: 15px;
}

.reservation-info,
.reservation-info i {
	font-size: 12px !important;
}

.reservation-info .icon-bianji {
	color: #feb855;
	font-size: 16px !important;
}


/*---- 预定的会议室 结束 ----*/


/*---- 快速预订 开始 ----*/

.booking-input {
	padding: 0;
}

.booking-input input {
	width: 100%;
}

.booking-input-time {
	padding: 0;
}

.booking-input-date {
	padding-left: 15px;
}

.booking-input-time input {
	width: 35%;
}

.circulation-date input {
	text-align: center;
	width: 40%;
}

.circulation-checkbox {
	height: 50px;
}

.circulation-checkbox label {
	color: #666;
	font-size: 12px;
}


/*CheckBox 样式*/

.formcheckbox {
	padding-right: 0;
}

.formcheckbox .form-label {
	display: inline-block;
}

.formcheckbox .form-radio {
	display: none
}

.formcheckbox .form-radioInput {
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 100%;
	display: inline-block;
	height: 12px;
	margin-right: 5px;
	margin-top: -3px;
	vertical-align: middle;
	width: 12px;
	line-height: 1
}

.formcheckbox .form-radio:checked+.form-radioInput:after {
	/*background-color: #3e4656;*/
	border-radius: 100%;
	border: 1px solid #168de9;
	content: '\2714';
	color: #168de9;
	display: inline-block;
	height: 12px;
	width: 12px
}

.formcheckbox .form-checkbox.form-radioInput,
.formcheckbox .form-radio:checked+.form-checkbox.form-radioInput:after {
	border-radius: 0
}


/*Radio 样式*/

.formradio .form-label {
	display: inline-block;
}

.formradio .form-radio {
	display: none
}

.formradio .form-radioInput {
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 100%;
	display: inline-block;
	height: 16px;
	margin-right: 5px;
	margin-top: -3px;
	vertical-align: middle;
	width: 16px;
	line-height: 1
}

.formradio .form-radio:checked+.form-radioInput:after {
	background-color: #168de9;
	border-radius: 100%;
	content: '';
	color: #168de9;
	display: inline-block;
	margin: 3px;
	height: 8px;
	width: 8px
}

.formradio .form-checkbox.form-radioInput,
.formradio .form-radio:checked+.form-checkbox.form-radioInput:after {
	border-radius: 100px;
}


/*---- 快速预订 结束 ----*/


/*---- 人脸识别 开始 ----*/

.face-recognition img {
	position: absolute;
	width: 100%;
}

.face-recognition .face-btn {
	bottom: 0;
}


/*---- 人脸识别 结束 ----*/


/*---- 扫描二维码  开始----*/

.scan-qr-icon {
	margin-top: 180px;
}

.scan-qr-icon img {
	width: 100%;
}

.scan-qr-text {
	margin-top: 10px;
	text-align: center;
}

.scan-qr-text p {
	color: #fff;
}


/*---- 扫描二维码  结束----*/


/*---- 签到统计 开始 ----*/

.solid-circle {
	width: 150px;
	height: 150px;
	display: block;
	background-color: #fff;
	border-radius: 100px;
	left: 0;
	top: 105px;
}

.circle-info {
	text-align: center;
}

.circle-info i {
	display: inline-flex;
	width: 12px;
	height: 12px;
	background-color: #0050EF;
	border-radius: 14px;
}

.circle-info p {
	color: #777;
	display: inline-flex;
	margin-left: 20px;
}

.circle-info span {
	width: 30px;
	margin-left: 10px;
}

.circle-info-normal i {
	background-color: #28c16e;
}

.circle-info-later i {
	background-color: #ff994e;
}

.circle-info-early i {
	background-color: #ff6d60;
}

.circle-info-nobody i {
	background-color: #e6e6e6;
}

.circle-info-normal span {
	color: #28c16e;
}


/*---- 签到统计 结束 ----*/


/*---- 快速预订:用户组 开始 ----*/

.user-group {
	background-color: #fff;
	padding: 10px 0;
}

.user-selection,
.userd-selection {
	border: 1px solid #7fbfee;
	height: 200px;
	overflow-x: hidden;
	overflow-y: auto;
}

.user-selection-left {
	padding-right: 0 !important;
}

.user-selection-right {
	padding-left: 0;
}

.user-move img {
	width: 100%;
	margin-bottom: 10px;
}

.selection-group p,
.selection-group i {
	color: #7fbfee;
	font-size: 14px !important;
}

.selection-th {
	padding: 5px 15px;
}

.selection-th-title,
.selection-tb-title {
	padding-right: 0;
	text-align: end;
}

.selection-th-checkbox,
.selection-tb-checkbox {
	padding-left: 0;
}

.selection-tb {
	display: none;
}

.selection-tb-active {
	display: block;
}

.selection-th p,
.selection-tb p {
	width: 95%;
	margin-left: -5px;
}

.selection-th i {
	margin-right: 5px;
}

.selected {
	padding-top:6px;
}
.selected-active{
	background-color: #ddd;
}
.selected-name {
	padding-right: 0;
	color: #7fbfee;
}

.selected-name p {
	font-size: 14px;
	margin-left: 5px;
}

.selected-icon i {
	font-size: 14px !important;
	color: #7fbfee;
}


/*---- 快速预订:用户组 结束 ----*/